<!doctype html>
<title>Test</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="style.css" type="text/css">
<div class=page>
{% for table in tables_entries %}	
  <h1>{{ table }}</h1>
    <table class="hoverTable"> 
      <tr>
  {% for header in headers %}
        <th>{{ header }}</th>
  {% endfor %}
      </tr>
  {% for entry in tables_entries[table] %}
      <tr>
    {% for header in headers %}
        <td>{{ entry[header] }}</td> 
    {% endfor %}    
      </tr>
  {% endfor %}
    </table>
{% endfor %}
</div>