{% extends "base.html" %}
{% block title %}Historical Tasks{% endblock %}
{% block content %}
<div class="span12">
  <h1>Historical Tasks</h1>
  <p>Select a date from the following:</p>
  <ul class="unstyled">
{% for day, month, year in tasks %}	
  {% set task_name = day + "-" + month + "-" + year %}
    <li><a href="/tasks?cli_name={{ task_name }}">{{ task_name }}</a></li>
{% endfor %}
  </ul>
  <div class="pagination">
    <ul>
      <li><a href="/historical_tasks?page={{ prev_page }}">Prev</a></li>
{% for page in pages %}
  {% if page == current_page %}
      <li class="active"><a href="/historical_tasks?page={{ page }}">{{ page }}</a></li>
  {% else %}
      <li><a href="/historical_tasks?page={{ page }}">{{ page }}</a></li>
  {% endif %}
{% endfor %}    
      <li><a href="/historical_tasks?page={{ next_page }}">Next</a></li>
    </ul>
  </div>
</div>
{% endblock %}